<section class="section-about-us" id="about-us">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <div class="header-section">
                    <h3 class="title ">Why do real estate companies choose us?</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 my-auto  text-center">
                <img src="https://www.reipropertyinvest.in/static/media/customize.0ffcdeb07802dcbb0942.png" width="100%"
                    alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-lg-0 mt-3">

                <div>
                    <p class="fs-5">
                        Our Podio based CRM is unlike any other real estate investment management system that exists out
                        there. We take pride in providing our customers with cutting edge technology and automated
                        processes that beats all other Real Estate Investing and Wholesaling platforms, assuring you
                        responsiveness and quality control.
                    </p>
                    <p class="fs-5">Podio REI Pro is the only action-focused CRM system designed to help real estate
                        agents focus on selling, nurturing relationships with buyers and sellers, and closing every
                        sales opportunity. </p>
                    <p class="fs-5">Our experienced project management team will ensure to guide you through the process
                        of handling all

                        your property leads through the Patronecs Podio CRM.</p>
                    <a href="pricing" class="btn btn-vary1"><span class="blink">Starting at $250</span></a>
                </div>
            </div>
        </div>

    </div>
</section>