
<section class="sub-intro-features back-img" id="about">
    <div class="container">
        <div class="row g-3 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="../../../assets/sub-intro/leads.png"
                        width="80" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">Lead Orginization</p>
                    <p class="fs-5 text-center">Create & Organize all of your Leads in one place. Make certain that no lead is overlooked!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="../../../assets/sub-intro/icons8-agreement-100.png"
                        width="80" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">Deal Tracking</p>
                    <p class="fs-5 text-center">Real-time tracking of offers! You will be able to track the status of all of your deals using the capabilities of our CRM! </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="../../../assets/sub-intro/icons8-sms-100.png"
                        width="80" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">SMS - E-MAILS - RVM’s</p>
                    <p class="fs-5 text-center">Integrate Powerful and Quick delivery of SMS. Create Auto Responders and let the system do the following up for you!</p>
                </div>
            </div>
        </div>
    </div>
</section>