
<section class="sub-intro-features back-img mb-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/omnichannel.png"
                        width="120" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">Lead Orginization</p>
                    <p class="fs-5 text-center">Create & Organize all of your Leads in one place. Make sure that no lead gets left
                        behind!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/graph-report.png"
                        width="120" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">Deal Tracking</p>
                    <p class="fs-5 text-center">Track Offers in real time! Using our CRM’s features you will be able to trace the
                        progress of all of your deals! </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="text-center"><img
                        src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/messaging-.png"
                        width="120" alt="" class="img-fluid">
                    <p class="fs-4 fw-bold my-3 text-center">SMS - E-MAILS - RVM’s</p>
                    <p class="fs-5 text-center">Create Auto Responders and let the system do the following up for you!</p>
                </div>
            </div>
        </div>
    </div>
</section>