<app-navbar></app-navbar>

<section class="home">
    <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center " data-scrollax-parent="true" style="height: 793px;">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12 text-center">
               
                <h1 class="mb-4">#1 Sales CRM for Your Real Estate Business</h1>
                <h2 class="subheading mb-4">We are a Technology Partner for your Real Estate Business. Create an effective sales process, connect with clients on a deeper level, and close deals with Podio REI Pro, a real estate CRM for your business.</h2>
               <a href="" class="btn btn-vary1">Get Access Now</a>
                <a href="#as-seen-on">
                    <div class="scroll-down">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                </a>
            </div>
        </div>
    </div>
</section>

<app-sub-intro-features></app-sub-intro-features>
<app-why-choose-us></app-why-choose-us>

<app-what-system-offers></app-what-system-offers>