<section class="section-what-are-you-waiting-for">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <div class="header-section">
                    <h3 class="title">WHAT ARE YOU WAITING FOR?</h3>
                    <h2 class="small-title">Boost your business volume</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-9 col-md-11 col-sm-12 col-12">
                <div class="text-center">
                    <p class="fs-4">Podio REI Pro CRM can help you grow your business! Using the most up-to-date equipment in the field, you can increase your profit and close more deals. Store your Leads Information, identify sales
                        opportunities, track the progress of your deals and manage marketing campaigns, all in one
                        place.</p>
                    <div class="mt-5"><a href="pricing" class="btn btn-vary1 w-60">Starting at $300</a></div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-4 mb-4 ">
                <div class="rounded-3 p-3 text-center"><img src="../../../assets/what-are-you-waiting-for/icons8-agreement-100.png"
                        width="80" alt="" class="img-fluid">
                    <p class="fs-5 mt-2"> Increase Your Deals </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-4 mb-4">
                <div class="rounded-3 p-3 text-center"><img src="../../../assets/what-are-you-waiting-for/icons8-total-sales-100.png"
                        width="80" alt="" class="img-fluid">
                        <p class="fs-5 mt-2">Grow Faster </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rounded-3 p-3 text-center"><img
                        src="../../../assets/what-are-you-waiting-for/icons8-sand-watch-100.png" width="80" alt=""
                        class="img-fluid">
                        <p class="fs-5 mt-2"> Less Effort </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="rounded-3 p-3 text-center"><img
                        src="../../../assets/what-are-you-waiting-for/icons8-trophy-100.png" width="80" alt=""
                        class="img-fluid">
                        <p class="fs-5 mt-2"> Improve Quality </p>
                </div>
            </div>
        </div>
    </div>
</section>